@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Open+Sans:wght@300&family=Satisfy&display=swap');

:root {
  --wine-red: #8e0000;
  --bright-red: #D42D2F;
  --dark-green: #344D2F;
  --light-green: #77A047;
  --gold: #FAC57D;
  --snow: #F0F4F7;
}

html, body {
    margin: 0;
    padding: 0;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
    width: 100vw;
    font-family: Barlow, sans-serif;
    text-align: center;
    color: var(--dark-green);
    /* background-color: var(--snow); */
    background-image: url("https://imgur.com/5Pe17o5.png");
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
    background: var(--wine-red);
    color: var(--snow);
    padding: 1em 2em;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

h1 {
    font-family: Satisfy, cursive;
    font-size: 3rem;
}

.countdown-display {
    font-size: 5rem;
    margin: 0;
}

#hours {
    font-size: 4rem;
    margin: 0;
}

#minutes {
    font-size: 3rem;
    margin: 0;
}

#seconds {
    font-size: 2rem;
    margin: 0;
}